@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url("https://fonts.cdnfonts.com/css/miama");

body {
  font-family: "Inter", "Miama", sans-serif;
  color: white;
  background-color: black;
  margin: 0;
}

/* shared style  */
.navbar,
.banner,
.part-1,
.part-3,
.bmi-chart,
.footer-section {
  max-width: 80%;
  margin: 0 auto;
}
.join-btn {
  font-size: 1.125rem;
  font-weight: 600;
  color: white;
  border-radius: 42px;
  background: rgb(230, 83, 60);
  padding: 1rem 2.5rem;
  border: none;
}
.main-title {
  font-size: 48px;
  font-weight: 900;
  line-height: 120%;
  margin: 0;
}
.main-para {
  font-size: 14px;
  line-height: 18px;
  color: rgba(255, 255, 255, 0.5);
  margin: 0;
}

/* navbar style  */
.nav-banner {
  width: 100%;
  background: linear-gradient(
    180deg,
    rgb(17, 17, 17),
    rgba(119, 119, 119, 0) 100%
  );
  margin-bottom: 100px;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
}
.logo-name {
  font-size: 2.25rem;
  color: rgb(230, 83, 60);
  font-weight: 800;
  font-style: italic;
}
.menu ul {
  display: flex;
  align-items: center;
  gap: 3rem;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 39px;
  padding: 4px 24px 4px 4px;
}
.menu ul li {
  list-style: none;
  font-size: 1.125rem;
}
.home-menu {
  font-weight: 600;
  padding: 8px 20px;
  border-radius: 46px;
  background: rgb(230, 83, 60);
}
.ham-burger,
.join-mobile {
  display: none;
}

/* banner style  */
.banner {
  display: flex;
  justify-content: space-between;
  padding-right: 20px;
}
.banner-text {
  max-width: 520px;
}
.banner-title {
  font-size: 4.875rem;
  font-weight: 900;
  line-height: 89px;
  margin: 64px 0 0 0;
}
.title-shape {
  font-family: "Miama";
  font-weight: 500;
  font-size: 9rem;
  letter-spacing: 4px;
}
.banner-details {
  color: rgba(255, 255, 255, 0.5);
  line-height: 24px;
  margin-top: 1.75rem;
  margin-bottom: 1.75rem;
}
.download-app-btn {
  font-size: 18px;
  font-weight: 600;
  color: white;
  border-radius: 42px;
  background: black;
  padding: 16px 40px;
  border: 1px solid rgb(255, 255, 255);
  margin-left: 14px;
}
.banner-box-img {
  position: relative;
}
.banner-img {
  /* width: 100%; */
  width: 349px;
  height: 580px;
}
.free-video {
  position: absolute;
  width: 130px;
  padding: 1rem 1.5rem;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  backdrop-filter: blur(20px);
  background: rgba(255, 255, 255, 0.1);
  top: 20%;
  left: 65%;
}
.free-video h4 {
  font-size: 2.5rem;
  font-weight: 900;
  margin: 0;
}
.free-video p {
  font-size: 13px;
  color: rgba(255, 255, 255, 0.65);
  margin: 0;
  margin-top: 5px;
}
.free-tutorial {
  display: flex;
  align-items: center;
  gap: 12px;
  position: absolute;
  padding: 1.25rem 1.43rem;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  backdrop-filter: blur(20px);
  background: rgba(255, 255, 255, 0.1);
  top: 72.5%;
  left: -31%;
}
.ball {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: rgb(230, 83, 60);
}
.free-tutorial h4 {
  font-size: 1.5rem;
  margin: 0;
}
.free-tutorial p {
  color: rgba(239, 237, 232, 0.65);
  margin: 0;
  margin-top: 8px;
}

/* Change Your Habits style  */
.change-habits-text {
  max-width: 640px;
  margin: 0 auto;
  text-align: center;
}
.change-habits-title {
  margin: 0 0 14px 0;
}
.habits-details {
  margin-bottom: 58px;
  line-height: 24px;
}
.change-habits-box {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 0 20px;
  gap: 40px;
  text-align: center;
}
.habits-box img {
  width: 70%;
  border-radius: 50%;
  border: 5px solid rgb(40, 38, 38);
}
.habits-box h3 {
  font-size: 18px;
  font-weight: 600;
  margin: 30px 0 6px 0;
}

/* Run an Extra Mile Easily  */
.extra-mile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgb(34, 34, 34);
  border-radius: 18px;
  padding: 1.875rem 2rem 1.875rem 3.375rem;
  margin: 100px 0;
}
.extra-mile-text {
  max-width: 440px;
}
.change-para {
  line-height: 24px;
  margin: 14px 0 34px 0;
}
.extra-mile-btn-img img {
  display: none;
}
.extra-mile-img {
  min-width: 430px;
  height: 366px;
  background: url("../images/run.jpg");
  border-radius: 18px;
  background-repeat: no-repeat;
  background-position: -730px -205px;
}

/* Trainings and Exercises  */
.training-exercise {
  max-width: 1240px;
}

.training-text {
  max-width: 600px;
  margin-bottom: 58px;
}
.training-text p {
  line-height: 24px;
  margin-top: 14px;
}

.row-1 {
  display: grid;
  grid-template-columns: 1fr 2fr 1.15fr;
}
.row-2 {
  display: grid;
  grid-template-columns: 1.48fr 1fr 1.2fr;
}
.training-card-1 {
  background: linear-gradient(
      rgba(6, 255, 210, 0.5),
      rgba(6, 255, 210, 0.5),
      rgba(6, 255, 210, 0.5) 100%
    ),
    url("../images/exercise1.jpg") no-repeat center;
}
.training-card-2 {
  background: linear-gradient(
      rgba(255, 0, 0, 0.3),
      rgba(255, 0, 0, 0.3),
      rgba(255, 0, 0, 0.3) 100%
    ),
    url("../images/exercise2.png") no-repeat center;
}
.training-card-3 {
  background: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5) 100%
    ),
    url("../images/exercise3.png") no-repeat center;
  display: flex;
  height: 240px;
  background-size: cover;
  align-items: flex-end;
}
.training-card-4 {
  background: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5) 100%
    ),
    url("../images/exercise4.png") no-repeat center;
}
.training-card-5 {
  background: linear-gradient(
      rgba(66, 255, 0, 0.3),
      rgba(66, 255, 0, 0.3),
      rgba(66, 255, 0, 0.3) 100%
    ),
    url("../images/exercise5.jpg") no-repeat center;
}
.training-card-6 {
  background: linear-gradient(
      rgba(0, 71, 255, 0.3),
      rgba(0, 71, 255, 0.3),
      rgba(0, 71, 255, 0.3) 100%
    ),
    url("../images/exercise6.jpg") no-repeat center;
  display: flex;
  height: 240px;
  background-size: cover;
  align-items: flex-end;
}
.training-card {
  display: flex;
  height: 240px;
  background-size: cover;
  align-items: flex-end;
}
.training-card-2 {
  align-items: flex-start;
}
.training-card-4 {
  align-items: flex-start;
  justify-content: flex-end;
}
.training-name {
  margin: 0;
  padding: 30px;
  font-size: 14px;
  font-weight: 500;
}

/* BMI calculator */
.bmi-calculator {
  max-width: 640px;
  margin: 88px auto;
}
.bmi-calculator p {
  line-height: 24px;
  margin-top: 14px;
}
/* BMI Calculator Chart */
.part-2 {
  width: 100%;
  background: rgb(34, 34, 34);
}

.bmi-chart {
  display: flex;
  justify-content: space-between;
  padding: 50px 0;
  gap: 20px;
}
.bmi-title {
  font-size: 28px;
  font-weight: 900;
  margin: 0;
}
table {
  margin-top: 55px;
}
table,
td,
th {
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-collapse: collapse;
  padding: 1.2rem 2rem;
}
th {
  font-weight: 500;
  text-align: left;
}
td {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.5);
}
.calculate-your-bmi {
  max-width: 577px;
}
.calculate-your-bmi p {
  line-height: 24px;
  margin: 14px 0 34px 0;
}

.calculate-bmi {
  display: grid;
  gap: 12px;
}
.bmi-input {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
}
.bmi-activity {
  display: grid;
  grid-template-columns: 1fr;
}
.bmi-input input,
.bmi-input select,
.bmi-activity select {
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
  border: none;
  padding: 13px 20px;
  color: rgba(255, 255, 255, 0.6);
  font-size: 1rem;
}
.btn-calculate {
  margin-top: 34px;
  padding: 1rem 4.5rem;
}

/* Meet Our Team */
.meet-our-team {
  margin: 88px 0;
}
.title-container {
  max-width: 640px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 58px;
}
.title-container p {
  line-height: 24px;
  margin-top: 14px;
}

.team-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border-radius: 18px;
  background: rgba(255, 255, 255, 0.1);
  gap: 20px;
  padding: 20px;
}
.team-member-1 {
  background: linear-gradient(
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2) 100%
    ),
    url("../images/trainer1.png") no-repeat center;
}
.team-member-2 {
  background: linear-gradient(
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2) 100%
    ),
    url("../images/trainer2.png") no-repeat center;
}
.team-member-3 {
  background: linear-gradient(
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2) 100%
    ),
    url("../images/trainer3.png") no-repeat center;
}
.team-member-4 {
  background: linear-gradient(
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2) 100%
    ),
    url("../images/trainer4.png") no-repeat center;
}
.team-member-5 {
  background: linear-gradient(
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2) 100%
    ),
    url("../images/trainer5.png") no-repeat center;
}
.team-member-6 {
  background: linear-gradient(
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2) 100%
    ),
    url("../images/trainer6.png") no-repeat center;
}
.team-member {
  background-size: cover;
  height: 272px;
  width: auto;
  border-radius: 18px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.team-member h4 {
  margin: 0;
  font-size: 24px;
}
.team-member p {
  color: rgba(255, 255, 255, 0.5);
  margin: 0;
}

/* footer style  */
footer {
  width: 100%;
  background: rgba(255, 255, 255, 0.1);
}
.footer-section {
  padding: 66px 0 35px 0;
}
.footer-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 60px;
}
.fitness-content {
  max-width: 430px;
}
.fitness-title {
  font-size: 4.375rem;
  margin: 0;
}
.fitness-para {
  line-height: 24px;
  margin-top: 20px;
}

.get-content {
  display: flex;
  justify-content: space-between;
}
.get-started h3 {
  font-size: 2rem;
  font-weight: 700;
  margin: 0 0 40px 0;
}
.get-started p {
  color: rgba(255, 255, 255, 0.5);
  font-size: 23px;
  margin: 0 0 20px 0;
}
hr {
  border: 2px solid rgba(255, 255, 255, 0.1);
}
.footer-para {
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
  font-size: 1.25rem;
  margin: 36px 0 0 0;
}

/* Medium Device: 576px to 992 px */
@media screen and (min-width: 576px) and (max-width: 992px) {
  .navbar,
  .banner,
  .part-1,
  .part-3,
  .bmi-chart,
  .footer-section {
    max-width: 90%;
  }
  .banner {
    flex-direction: column;
    gap: 100px;
  }
  .banner-title {
    margin-top: 20px;
  }
  .menu ul {
    gap: 1rem;
  }
  .banner-box-img {
    margin: 0 auto;
  }
  .free-video {
    top: 10%;
    left: 54%;
  }
  .free-tutorial {
    top: 61%;
    left: -45px;
  }
  .change-habits-box {
    grid-template-columns: repeat(2, 1fr);
  }
  .run-title {
    font-size: 36px;
  }
  .extra-mile {
    gap: 30px;
    margin: 84px 0 72px 0;
  }
  .extra-mile-img {
    min-width: 260px;
    height: 340px;
    background-position: -820px -205px;
  }
  .training-card {
    height: 230px;
  }
  .row-1 {
    grid-template-columns: 1fr 1.3fr 1fr;
  }
  .row-2 {
    grid-template-columns: 1.35fr 1fr 1fr;
  }
  .training-card-2 {
    background-position-x: -105px;
  }
  .bmi-calculator {
    margin: 66px 0 46px 0;
  }
  table {
    margin-top: 45px;
  }
  .bmi-chart {
    flex-direction: column;
    gap: 60px;
  }
  .calculate-your-bmi {
    max-width: 100%;
  }
  .meet-our-team {
    margin: 72px 0;
  }
  .team-member h4 {
    font-size: 20px;
  }
  .footer-container {
    grid-template-columns: repeat(1, 1fr);
    gap: 100px;
  }
  .get-content {
    justify-content: space-around;
  }
}

/* Small Device: 0px to 576px */
@media screen and (max-width: 576px) {
  .navbar,
  .banner,
  .part-1,
  .part-3,
  .bmi-chart,
  .footer-section {
    max-width: 90%;
  }
  .navbar {
    margin-bottom: 0;
  }
  .menu,
  .join-big-device {
    display: none;
  }
  .ham-burger {
    display: block;
    font-size: 2rem;
  }
  .banner {
    flex-direction: column;
    gap: 48px;
  }
  .banner-title {
    font-size: 2.75rem;
    line-height: 120%;
    margin: 14px 0 0 0;
  }
  .title-shape {
    font-size: 5.5rem;
  }
  .join-mobile {
    display: block;
  }
  .banner-btn {
    display: flex;
  }
  .join-mobile,
  .download-app-btn {
    padding: 1rem 1.5rem;
  }
  .banner-box-img {
    margin: 0 auto;
  }
  .free-video {
    top: 8%;
    left: 53%;
    padding: 0.75rem 1.1rem;
  }
  .free-video h4 {
    font-size: 1.9rem;
  }
  .free-video p {
    font-size: 9.8px;
  }
  .free-tutorial {
    top: 45.5%;
    left: 2%;
    padding: 0.9rem 1rem;
  }
  .free-tutorial h4 {
    font-size: 1.12rem;
  }
  .free-tutorial p {
    font-size: 0.75rem;
  }
  .nav-banner {
    margin-bottom: 0;
  }
  .main-title {
    font-size: 2rem;
  }
  .change-habits-box {
    grid-template-columns: repeat(1, 1fr);
    gap: 2.25rem;
  }
  .extra-mile {
    margin: 66px 0;
    padding: 2.2rem 2rem;
  }
  .extra-mile-img {
    display: none;
  }
  .change-para {
    margin-bottom: 24px;
  }
  .extra-mile-btn-img {
    display: grid;
    grid-template-columns: 1fr;
    gap: 3rem;
  }
  .extra-mile-btn-img img {
    width: 100%;
    border-radius: 18px;
  }
  .extra-mile-btn-img img {
    display: block;
  }
  .training-text {
    margin-bottom: 2.25rem;
  }
  .row-1 {
    grid-template-columns: 1fr 1fr;
  }
  .row-2 {
    grid-template-columns: 1fr 1.25fr;
  }
  .training-card-3,
  .training-card-6 {
    display: none;
  }
  .training-card {
    height: 180px;
  }
  .training-card-2 {
    background-position-x: -100px;
  }
  .training-card-4 {
    background-position-x: -60px;
  }
  .bmi-calculator {
    margin: 2rem 0;
  }
  .bmi-chart {
    flex-direction: column;
    padding: 2rem 0 2.6rem 0;
    gap: 2.6rem;
  }
  .bmi-title {
    font-size: 1rem;
  }
  table {
    margin-top: 1.6rem;
  }
  table,
  td,
  th {
    padding: 1rem 1.25rem;
  }

  /* hhhhhhhhhhhhhhhhh */
  .bmi-input {
    grid-template-columns: repeat(1, 1fr);
  }

  /* hjjjjjjjjjjjjjjjjjjjjjjjjjjjj */
  .meet-our-team {
    margin: 4rem 0;
  }
  .title-container {
    margin-bottom: 2.25rem;
  }
  .team-container {
    grid-template-columns: repeat(1, 1fr);
}
.footer-section {
  padding: 44px 0 35px 0;
}
.footer-container {
  grid-template-columns: 1fr;
  gap: 30px;
}
.get-content {
  flex-direction: column;
  gap: 20px;
}
}
